.newsletter{
    width: 75%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, rgb(139, 180, 182) 0%, #e1ffea22 60%);
    gap: 30px;
}
.newsletter h1{
    color: #454545;
    font-size: 28px;
    font-weight: 650;
}
.newsletter p{
    color: #454545;
    font-size: 20px;
}
.newsletter_input{
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 0px;
    background: white;
    width: 80%;
    height: 70px;
    border-radius: 80px;
    border: 1px solid #e3e3e3;
}

.newsletter input{
    margin-left: 30px;
    border: none; 
    outline: none;
    color: #616161;
    font-family: Poppins;
    font-size: 20px;
}
.newsletter div button{
    width: 100px;
    height: 70px;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    color: rgb(140, 185, 185); 
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}